<%- include('../layouts/partials/messages.ejs') %>
<div class="row" style="margin-top: 50px">
  <div class="col-md-5 mx-auto">
    <div class="card card-body shadow">
      <h2 class="text-center mb-5"><i class="bi bi-key-fill"></i> Reset Password</h2>
      <form action="/users/sendResetLink" method="POST">
        <div class="form-floating mb-4">
          <input autofocus type="email" id="email" name="email" class="form-control" placeholder="Email" required />
          <label class="form-label" for="email">Email you registered with</label>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-block bg-primary">Send Email</button>
        </div>
      </form>
      <div class="row">
        <div class="col">
          <p class="lead mt-4">No Account? <a href="/users/register">Register</a></p>
        </div>
        <div class="col">
          <p class="lead mt-4 text-end">Already registered? <a href="/users/login">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
