<div class="text-center">
  <h1>Something went wrong</h1>
  <h5>There was an unexpected error in the app.</h5>
  <h6>Please try after some time.</h6>

  <%= err %>
  <br />
  <a href="/" class="btn btn-primary mt-5">Home Page</a>
  <a href="javascript:history.back()" class="btn btn-warning mt-5">Go Back</a>
</div>
