<%- include('./layouts/partials/messages.ejs') %>
<div class="container">
  <h1 class="display-6">Dashboard</h1>
  <div class="row mb-3">
    <div class="col-md-3">
      <div class="card dashboard-card mt-5 border-2">
        <div class="card-body">
          <h5 class="display-6 fs-1"><%=locals.data.totalPatients %> <span class="display-6 fs-4" style="color: #333">Registered Patients</span></h5>
          <a href="/patient/register" class="btn btn-secondary my-1">Register New</a>
        </div>
      </div>
    </div>
  </div>
</div>
