<footer id="footer">
  <div class="footer-bottom fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          &copy; Copyright <strong><span>Snehaanchal</span></strong
          >. All Rights Reserved
        </div>
        <div class="col-md-6 text-center">
          <div class="credits">
            Web App Designed by
            <a href="http://agileinfosolutions.tech/" target="_blank" class="text-dark">Agile Infosolutions</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
