<div class="row">
  <div class="col-3">
    <div class="alert-container">
      <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong>
        <%- error.msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% }); %> <% } %> <% if(success_msg != '') { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%- success_msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %> <% if(error_msg != '') { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" data-bs-delay="4000">
        <%- error_msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %> <% if(error != '') { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%- error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
    </div>
  </div>
</div>
